<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Números!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="1"><img src="/assets/img/numeros/1.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="2"><img src="/assets/img/numeros/2.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="3"><img src="/assets/img/numeros/3.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="4"><img src="/assets/img/numeros/4.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="5"><img src="/assets/img/numeros/5.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="6"><img src="/assets/img/numeros/6.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="7"><img src="/assets/img/numeros/7.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="8"><img src="/assets/img/numeros/8.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="9"><img src="/assets/img/numeros/9.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="10"><img src="/assets/img/numeros/10.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="11"><img src="/assets/img/numeros/11.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="12"><img src="/assets/img/numeros/12.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="13"><img src="/assets/img/numeros/13.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="14"><img src="/assets/img/numeros/14.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="15"><img src="/assets/img/numeros/15.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="16"><img src="/assets/img/numeros/16.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="17"><img src="/assets/img/numeros/17.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="18"><img src="/assets/img/numeros/18.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="19"><img src="/assets/img/numeros/19.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
    <a href="20"><img src="/assets/img/numeros/20.png" alt="Enviar" style= "width: 70px; height: 70px; margin-left: 5px;"></a>
  </div>

</ion-content>