<ion-content padding class="background">
  <ion-title color="rosa" text-center style="margin-top: 200px;">Iniciar Sesión!</ion-title>
  <ion-item style="margin-top: 20px;">
    <ion-input placeholder="E-mail" type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item style="margin-top: 20px;">
    <ion-input placeholder="Contraseña" type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item-divider style="margin-top: 20px; text-align: center;">
    <ion-button color="rosa" size="small" (click)="onLogin()">Login!</ion-button>
    <ion-button color="rosa" size="small" href="/registro">Regístrame!</ion-button>
  </ion-item-divider>
</ion-content>