<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
      <ion-button (click)='regresar_categoria()'><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Animales!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card">
    <div class="item item-body">
      <img class="full-image"src="/assets/img/animales/portadaAnimal.png" >
    </div>
  </div>

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="ani-ardilla"><img src="/assets/img/animales/ardilla.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-caballo"><img src="/assets/img/animales/caballo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-cerdo"><img src="/assets/img/animales/cerdo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-conejo"><img src="/assets/img/animales/conejo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-gallina"><img src="/assets/img/animales/gallina.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-gallo"><img src="/assets/img/animales/gallo.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-gato"><img src="/assets/img/animales/gato.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-mono"><img src="/assets/img/animales/mono.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-perro"><img src="/assets/img/animales/perro.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
    <a href="ani-vaca"><img src="/assets/img/animales/vaca.png" alt="Enviar" style= "width: 80px; height: 80px; margin-left: 5px;"></a>
  </div>

</ion-content>