<ion-header>
  <ion-toolbar color="rosa">
    <ion-buttons slot="start">
        <ion-button fill="clear" (click)='home()'><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title text-center>Categorias!</ion-title>
    <ion-buttons slot="end">
        <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div style="text-align: center; align-content:center; align-self:center; margin-top: 10px;">
    <a href="cat-abecedario"><img src="/assets/img/categorias/abecedario.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-animales"><img src="/assets/img/categorias/animales.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-bebidas"><img src="/assets/img/categorias/bebidas.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-colores"><img src="/assets/img/categorias/colores.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-comidas"><img src="/assets/img/categorias/comidas.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-departamentos"><img src="/assets/img/categorias/departamentos.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-emociones"><img src="/assets/img/categorias/emociones.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-familia"><img src="/assets/img/categorias/familia.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-numeros"><img src="/assets/img/categorias/numeros.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
    <a href="cat-saludos"><img src="/assets/img/categorias/saludos.png" alt="Enviar" style= "width: 100px; height: 100px; margin-left: 20px; margin-top: 5px;"></a>
  </div>

  <ion-button size="large" (click)="onLogout()">Cerrar Sesión</ion-button>

</ion-content>
